.Slider {
  width: 1100px;
  margin: 0 auto;
  background: burlywood;
}

.Slider-sec {
  width: 1000px;
  margin: 0 auto;
  background: chartreuse;
}
.Slider-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
